.containercar {
  display: flex;

  min-height: 700px;
  width: 90%;
  margin: 100px 5% 0px 5%;
}
.reviews {
  padding-left: 5%;
  width: 120%;
}
.revieboxcar {
  height: 100px;
}
.cardrevies {
  height: inherit;
  margin-bottom: 0px;
  font-size: 0.8rem;
}
.cardTilte {
  font-size: 1rem;
}
.renderReviews {
  margin-top: 40px;
  margin-left: 5%;
}
